<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Budget Buddy: Your Personal Finance Assistant</h5>
    <p class="card-text text-center">Welcome to Budget Buddy, your all-in-one solution for managing your finances effectively and effortlessly. Whether you're a seasoned budgeter or just starting out on your financial journey, Budget Buddy is here to help you take control of your money.With Budget Buddy, you can easily track your income, expenses, and savings goals all in one place. Our intuitive interface makes it simple to categorize your spending, set budgets, and visualize your financial progress with customizable charts and graphs.</p>
    <a href="#" class="btn btn-primary">Create Account</a>
  </div>
  <div class="card-footer text-body-secondary">
    2 days ago
  </div>
</div>