   <div class='card text-center'> 
    
    <p style="color: green"><%= notice %></p>

    <h1>Expenses</h1>

  <table class="table table-bordered table-info table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Category</th>
        <th>Show Expense</th>
        <th>Edit Expense</th>
        <th>Destroy Expense</th>
      </tr>
    </thead>
    <tbody>
       <%= render @expenses %>
    </tbody>
   </table>
    </div>
</div>
